.profile-container {
  padding: 0 10px 0 10px;
}

.profile-overview-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.profile-feed-card {
  height: 350px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.profile-feed-card::-webkit-scrollbar {
  display: none;
}
