a {
  color: rgba(0, 0, 0, 0.85);
}

/* ellipsis */
.settings-button {
  border: none;
}
/* icons */
i {
  padding-right: 5px;
}

.fa-bookmark {
  color: #1890ff;
}

.saved-icon-button {
  display: none;
}

/* card */

.card-header {
  display: flex;
  flex-direction: row;
}

.card-header-arrow-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 40px;
}

.arrow {
  max-height: 20px;
}

.arrow-up .arrow-down {
  font-size: 15px;
}

.container-sub {
  padding: 10px;
  padding-left: 20px;
}

.postedBy {
  margin-bottom: 30px;
}

.feed-card {
  margin-bottom: 40px;
  border-radius: 5px;
  width: 100%;
}

#replyName {
  float: left;
  padding-bottom: 1em;
}

#postTitle {
  text-align: center;
}

.postTitle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#postTitle-hr {
  max-width: 25%;
  opacity: 0.2;
}

.post-container {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 10px;
  padding-left: 2em;
  margin-bottom: 10px;
}

/* .reply-container {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 10px;
  padding-left: 2em;
  margin-bottom: 10px;
} */

.reply-message-container {
  background-color: #f8f8f8;
  border-radius: 5px;
  /* padding: 10px 10px 5px 10px; */
  /* padding-left: 2em; */
  margin-bottom: 10px;
}

#reply-message {
  /* padding: 10px; */
  padding: 10px 10px 10px 2em;
}

.code-container {
  padding: 0 15px 5px 15px;
}

.reply-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reply-footer h5 {
  padding: 0 5px 0 5px;
}

.reply-footer-actions {
  display: flex;
  flex-direction: row;
}

.post-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 5px 20px;
}

.view-replies-container {
  display: flex;
  flex-direction: row;
}

.post-footer h5:hover {
  color: #1890ff;
}
